<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../public/icons/pizza.png" />
    <link rel="stylesheet" href="../../public/styles/index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <title>Papa pizza</title>
  </head>
  <body>
    <header>
      <section class="nav-utility">
        <header class="nav-container">
          <a title="Logo" class="logo" href="/">
            <img
              src="../../public/images/Papa pizza....png"
              alt="Papa Pizza image"
            />
          </a>
          <ul class="nav-utility-list">
            <li class="nav-utility-item nav-utility-item--track-order">
              <a title="Track the order" href="#">
                <img src="../../public/images/tracking.png" alt="Track order" />
                <span>Track my order</span>
              </a>
            </li>

            <li class="nav-utility-item nav-utility-item--location">
              <a title="Location" href="#">
                <img src="../../public/images/placeholder.png" alt="Location" />
                <span>Location</span>
              </a>
            </li>

            <li class="nav-utility-item nav-utility-item--lenguage">
              <a title="Lenguage" href="#">
                <img src="../../public/images/globe.png" alt="Location" />
                <select>
                  <option value="English">English</option>
                  <option value="Russian">Russian</option>
                  <option value="Ukainian">Ukainian</option>
                </select>
              </a>
            </li>

            <li class="nav-utility-item nav-utility-item--login">
              <a title="Log In" href="#">
                <img src="../../public/images/user.png" alt="Account" />
                <span>Log In</span>
              </a>
            </li>

            <li class="nav-utility-item nav-utility-item--signin">
              <a title="Sign Up" href="#"> Sign In </a>
            </li>
          </ul>
        </header>
      </section>

      <section id="nav-main">
        <nav role="navigation" class="nav-container">
          <ul class="nav-main-list">
            <li class="nav-main-item nav-main-item--menu">
              <a class="nav-main-link" href="#">MENU</a>
            </li>
            <li class="nav-main-item nav-main-item--deals">
              <a class="nav-main-link" href="#">DEALS</a>
            </li>
            <li class="nav-main-item nav-main-item--rewords">
              <a href="#" class="nav-main-link">REWORDS</a>
            </li>
            <li class="nav-main-item nav-main-item--promo">
              <form method="get">
                <input
                  type="text"
                  name="promo"
                  placeholder="Enter a promo code..."
                />
                <input type="submit" name="promo-submit" value="APPLY" />
              </form>
            </li>
            <li class="nav-main-item nav-main-item--cart">
              <a href="#" class="nav-main-link nav-main-cart">
                <img
                  src="../../public/images/shopping-cart.png"
                  alt="Shopping cart"
                />
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <main>
      <section class="wallpaper">
        <div class="wallpaper-content">
          <div class="conteiner-ads">
            <img
              class="tag"
              src="../../public/images/tag-shape.png"
              alt="Shape"
            />
            <p class="crispy crispy-with-border">CRISPY</p>
            <p
              class="cuppy text-with-shadow text-with-curvature cuppy-with-border"
            >
              CUPPY
            </p>
            <p class="rony rony-with-border">'RONY</p>
          </div>
          <img
            class="papabits"
            src="../../public/images/papabits.jpeg"
            alt="Papabits"
          />
          <img
            class="papadia"
            src="../../public/images/papadia.jpeg"
            alt="Papadia"
          />
        </div>
        <div class="oreder">
          <img class="cuppy-pizza" src="../../public/images/cuppy-pizza.jpeg" />
          <button class="order-button">ORDER NOW</button>
        </div>
      </section>

      <section class="pizza-section">
        <div class="pizza-container">
          <div class="pizza-container--item pizza-container--item--1">
            <span>7.99</span>
            <button class="order-button">ADD TO ORDER</button>
          </div>
          <div class="pizza-container--item pizza-container--item--2">
            <span>25.99</span>
            <button class="order-button">ADD TO ORDER</button>
          </div>
          <div class="pizza-container--item pizza-container--item--3">
            <span>28.99</span>
            <button class="order-button">ADD TO ORDER</button>
          </div>
          <div class="pizza-container--item pizza-container--item--4">
            <span>10.99</span>
            <button class="order-button">ADD TO ORDER</button>
          </div>
          <div class="pizza-container--item pizza-container--item--5">
            <span>15.99</span>
            <button class="order-button">ADD TO ORDER</button>
          </div>
          <div class="pizza-container--item pizza-container--item--6">
            <span>8.99</span>
            <button class="order-button">ADD TO ORDER</button>
          </div>
          <div class="pizza-container--item pizza-container--item--7">
            <span>Create your own</span>
            <button class="order-button">ADD TO ORDER</button>
          </div>
        </div>
      </section>

      <div class="menu-title">
        <h2>EXPLORE OUR MENU</h2>
      </div>
      <section class="menu-section">
        <div class="menu-items">
          <div class="menu-item-container">
            <div class="menu-item menu-item--1"></div>
            <p>Bonless wings</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--2"></div>
            <p>Traditional wings</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--3"></div>
            <p>Pizza</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--4"></div>
            <p>Papa Bites</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--5"></div>
            <p>Desert bites</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--6"></div>
            <p>Drinks</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--7"></div>
            <p>Deserts</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--8"></div>
            <p>Sides</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--9"></div>
            <p>Extras</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--9"></div>
            <p>Deals</p>
          </div>
          <div class="menu-item-container">
            <div class="menu-item menu-item--10"></div>
            <p>Papa Bowl</p>
          </div>
        </div>
      </section>

      <section class="banner">
        <div class="banner-container">
          <div class="banner-item banner-item--1">
            <h2>ORDER FROM OUR APP</h2>
            <a class="app-store" href="#"
              ><img src="../../public/images/app-store.png" alt="App Store"
            /></a>
            <a class="google-play" href="#"
              ><img
                src="../../public/images/google-play.jpeg"
                alt="Google Play"
            /></a>
          </div>
          <div class="banner-item banner-item--2">
            <img
              src="../../public/images/iphone-android.webp"
              alt="Iphone & Android"
            />
          </div>
        </div>
      </section>

      <section class="info">
        <div class="info-constainer">
          <div class="info-conteiner--item info-conteiner--item--1">
            <img src="../../public/images/pizza-sause.jpeg" alt="Pizza sause" />
            <div class="info-content--item">
              <h2>THE SAUCE - NEWS & STORIES</h2>
              <p>
                Get a look behind our pizza, meet our people and learn how we
                are growing to bring our BETTER INGREDIENTS. BETTER PIZZA.®
                promise to pizza-lovers around the world.
              </p>
              <a href="#">READ ALL ABOUT IT</a>
            </div>
          </div>
          <div class="info-conteiner--item info-conteiner--item--2">
            <img src="../../public/images/rewards.png" alt="Pizza rewards" />
            <div class="info-content--item">
              <h2>NOW MORE REWARDING</h2>
              <p>Papa Rewards®️ now lets you earn more than free pizza.</p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
          <div class="info-conteiner--item info-conteiner--item--3">
            <img src="../../public/images/gift-card.webp" alt="Gift card" />
            <div class="info-content--item">
              <h2>PAPA Pizza GIFT CARDS</h2>
              <p>
                Take the guesswork out of gift-giving! Select your gift card
                value up to $100 and send it today or on a date of your choice.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
          <div class="info-conteiner--item info-conteiner--item--4">
            <img src="../../public/images/team.jpeg" alt="Pizza Team" />
            <div class="info-content--item">
              <h2>JOIN THE PAPA PIZZA TEAM</h2>
              <p>You love pizza, we love pizza - it's a perfect fit.</p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container-footer">
        <div class="footer-item our-company">
          <h3>Our company</h3>
          <ul>
            <li><a href="#">About Papa Pizza</a></li>
            <li><a href="#">Invetor Relations</a></li>
            <li><a href="#">The souse new & stories</a></li>
            <li><a href="#">No constct delivery</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="footer-item our-pizza">
          <h3>Our Pizza</h3>
          <ul>
            <li><a href="#">Pizza Page</a></li>
            <li><a href="#">Nutritional Info</a></li>
            <li><a href="#">The souse new & stories</a></li>
            <li><a href="#">No constct delivery</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="footer-item help">
          <h3>help</h3>
          <ul>
            <li><a href="#">Customer Servies</a></li>
            <li><a href="#">Ordering</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Store List</a></li>
          </ul>
        </div>
        <div class="footer-item franchise">
          <img src="../../public/images/franchise.jpeg" alt="Franchise" />
          <a href="#"><span>Open Franchise</span></a>
        </div>
      </div>
    </footer>
  </body>
</html>
