<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internet data with Node.js</title>
  </head>
  <body>
    <h1>Internet data in Node.js</h1>
    <form
      id="myForm"
      action="/lesson8/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="tsunami">Upload file</label>
      <input type="file" name="tsunami" id="tsunami" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
