<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="wrapper">
        <p>Full name: {{fullName}}<br>Tell number: {{tel}}<br>E-mail: {{email}}<br>Address: {{address}}</p>
    </div>

    <button class="back-button" onclick="goBack()">⬅️ Back</button>
    
    <script>
      function goBack() {
          
          window.history.back();
      }
    </script>
  </body>
</html>