<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Information</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Server Information</h1>
    <p>Current Date and Time: {{currentDate}}</p>
    <p>Hostname: {{hostname}}</p>
    <p>IP Address: {{ipAddress}}</p>
    <p>Operating System: {{os}}</p>
    <p>Node.js Version: {{nodeVersion}}</p>

    <button class="back-button" onclick="goBack()">⬅️ Back</button>
    
    <script>
      function goBack() {
          
          window.history.back();
      }
  </script>
</body>
</html>
