<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style11.css" />
    <title>Cookie & Session</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <div class="wrapper">
      <form class="wrapper" action="/lesson11/login" method="get">
        <button type="submit" class="login">Log In</button>
      </form>
      <form class="wrapper" action="/lesson11/register" method="get">
        <button type="submit" class="sign">Sign Up</button>
      </form>
    </div>
  </body>
</html>
